/* CSS DE PRODUCTOS DE 0 A 500px */
.itemUno {
    grid-area: producto1;

}

.itemDos {
    grid-area: producto2;

}

.itemTres {
    grid-area: producto3;
}

.itemCuatro {
    grid-area: producto4;
}

.itemCinco {
    grid-area: producto5;
}

.itemSeis {
    grid-area: producto6;
}

.grillaProductos {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-areas: 
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "producto5"
        "producto6"
}